<!DOCTYPE html>
<html ng-app="reagentEfficiency">
<head>
    <link href="../Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <ul class="list-unstyled">
        <li class="list-group-item">
            <select class="btn btn-primary" style="width: 150px;" onchange="this.blur();">
                <option value="1">Me</option>
                <option value="2">You</option>
                <option value="3">Them</option>
                <option value="4">The others</option>
                <option value="5">Only a few</option>
                <option value="6">Take them all</option>
            </select>
        </li>
    </ul>
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../ViewModel/reagentEfficiencyReportViewModel.js"></script>
</body>
</html>
